*{
    margin: 0;
    padding: 0;
}

/*------Header Section-----*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 30, 17, 0.7), rgba(11, 35, 44, 0.7)), url(images/head-image-2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 120px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul  li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul  li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    
}

/*---For hover on navigation---*/
.nav-links ul  li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #cbe368;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul  li:hover::after{
    width: 100%;
}
.head-textbox{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%); /*will be in the center of div*/
    text-align: center;

}
.head-textbox h1 {
    font-size: 57px;
    font-family: 'Poppins', sans-serif;
}
.head-textbox p {
    margin: 10px 0 37px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}
.start-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #cbe368;
    border-radius: 30px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.start-btn:hover{
    border: 1px solid white;
    background-color:  #cbe368;
    transition: 1s;
}
nav .fas {
    display: none;
    width: 17px;
}

/*----applicable for device width <700px-----*/
/*------for a more responsive website-----*/
@media(max-width: 700px){
    .head-textbox h1 {
        font-size: 30px;
    }
    .head-textbox  {
        font-size: 17px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #9fc019;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fas{
        display: block;
        filter: invert(50%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(200%) contrast(200%);
        margin: 10px;
        width: 17px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/*------Articles Section-----*/
.articles{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    image-center;

}
.title-word {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    color: #047d8d;
}
.zero-word {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    color: #749100;
}
.title-p{
    color: rgb(63, 63, 63);
    font-size: 20px;
    font-family: 'Railway', sans-serif;
    line-height: 22px;
    padding: 10px;
}
.other-articles {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.other-articles2 {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.row-articles {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.row-articles2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.col-articles{
    flex-basis: 31%;
    background: #f1ffb9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.col-articles2{
    flex-basis: 31%;
    background: #f1ffb9;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #678100;
    margin: 10px;
}
p{
    font-size: 17px;
    font-family: 'Railway', sans-serif;
    color: rgb(63, 63, 63);
    text-align: left;
}
.col-articles:hover{
    box-shadow: 0 0 20px 0px rgba(13, 77, 16, 0.2);
    transition: 0.5s;
}
@media(max-width: 700px){
    .row-articles{
        flex-direction: column;
    }
}
.image-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.image-col img{
    width: 100%;
    display: block;
}

.imageoffice{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer-text{
    font-size: 30px;
    font-weight: 500;
    color: transparent;
    width: 100%;
    top: 37%;
    left: 0;
    position: absolute;
    opacity: 0;;
}
.layer:hover{
    background: rgba(157, 196, 19, 0.7);
}
.layer:hover h3{
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}


/*------Take Action Section-----*/
.take-action{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.take-word{
    color: #047d8d;
    font-size: 40px;
}
.act-word{
    color: #678100;
}
.take-action-sub{
    display: flex;
    margin-top: 10%;
    position: relative;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}
.act-image{
    flex-basis: 32%;
    margin-bottom: 30px;
    
}
.take-image{
    width: 50%;
    display: inline-block;
    margin-bottom: 15%;
}
.take-title{
    text-decoration: none;
    font-family: "Railway", sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #047d8d;
}
.take-title::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #047d8d;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.take-title:hover::after{
    margin-top: 7% ;
    width: 80%;
}
@media(max-width: 700px){
    .take-title{
        font-size: 17px;
    }
} 

/*------Owner Section-----*/
.owner{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.own-title{
    font-family: "Railway", sans-serif;
    font-weight: bold;
    color: #494949;
    margin-bottom: 7%;
}
.owner-desc{
    display: inline-block;
    background: rgb(225, 240, 168);
    border-radius: 10px;
    padding: 15px;
    margin-top: 10%;
}
.owner-desc img{
    width: 20%;
    border-radius: 100%;
    margin-top: -13%;
    border:10px solid rgb(225, 240, 168);
}
@media(max-width:700px){
    .owner-desc img{
        width: 30%;
        margin-top: -20%;
    }
}

/*------Newsletter Section-----*/
.newsletter{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.newsletter h3{
    font-family: "Railway", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #678100;
    margin-bottom: 5%;
}
.newsletter p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #5f5f5f;
    text-align: center;
}
.news-form{
    display: inline-block;
    place-content: start space-evenly;
    background: white;
    text-align: center;
    padding: 1em;
}
.textbox-news{
    width: 100%;
    font-size: 17px;
}
input[type='text'] {
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    box-sizing: border-box;
}
input[type="submit"]{
    display: inline-block;
    margin: 5%;
    background: #c4eb50;
    color: #26380a;
    text-decoration: none;
    padding: 0.6em 1em;
    font-size: 0.80em;
    font-weight: bold;
    border-radius: 5em;
    border: none;
    width: unset;
    cursor: pointer;
}

/*------Contact Us Section-----*/
.contact{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    display: block;
    margin-bottom: 10%;
}
.contact h3{
    font-family: "Railway", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #678100;
    margin: 0.4%;
}
.icon-contact{
    width: 5%;
    padding: 5%;
}
@media (max-width:700px) {
    .icon-contact{
        width: 7%;
    }

}
.cont-div{
    text-align: center;
}
.label-style{
    font-family: "Railway", sans-serif;
    text-align: left;
}
.form input{
    width: 50%;
    margin-bottom: 2%;
}
textarea{
    width: 50%;
    height: 150px;
    font-family: "Railway", sans-serif;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
}

/*------Bottom Section-----*/
.bottom{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px;
    display: block;
    background: #2b2b2b;
}
.bottom p{
    color: white;
    font-family: "Railway", sans-serif;
    font-size: 12px;
    text-align: center;
}
p1{
text-align: center;
}