body {
background-image: url(petition.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1074&q=80);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Roboto Slab', serif;
}

header {
  text-align: center;
  margin: 40px;
  color: black;
  font-size: 1.5rem;
}

#title {
  margin: 0;
  font-weight: bold;
}

#description {
  margin-top: 0;
  font-weight: 100;
}

h3 {
  margin: 0;
}

input[type=text], input[type=email], input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

button[type=submit] {
  background-color: #7B808E;
  color: white;
  font-size: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type=submit]:hover {
  background-color: #454851;
}

#container {
  border-radius: 5px;
  background-color: #f2f2f2;
  opacity: 0.9;
  padding: 30px;
  margin: 0 auto 50px;
  width: 70%;
  font-weight: 500;
  font-size: 15px;
}

#questions, #options {
  margin-top: 30px;

}
